<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="./style/style_area.css" />

<!-- Última versão CSS compilada e minificada -->

        <style type="text/css">
            body {background-color:palegreen;}


        </style>
    </head>

    <body>

        <header>

            <h3>
                Formulário de LogOut!
            </h3>

    
        </header>



        <section>

        <footer id="rodape">

        </footer>

    </body>
</html>