      </div>
      <footer class="text-center">
        <br>
        <small>Faculdade de Tecnologia - Dr. Thomaz Novelino - Programação Script: <a href="https://site.fatecfranca.edu.br/" target="_blank">Fatec-Franca</a></small>
      </footer>
    </div>
  </body>
</html>