<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="./style/style_area.css" />

<!-- Última versão CSS compilada e minificada -->

        <style type="text/css">
            body {background-color: aqua;}

            #menulogin ul li { display: inline; }  
            #menu_form ul li { display: inline; }  

            #menulogin {float:right;}   
            #menu_form {float: left;}       

        </style>

    </head>

    <body>

        <header>

            <h3>
                Menu de Formulários!
            </h3>

            <section id="menulogin">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/login">Login</a></li>                    
                    <li><a href="/logout">Logout</a></li>
                </ul>                
    
            </section>
    
            <section id="menu_form">
                <ul>
                    <li><a href="/livros/livros">Livros</a></li>                    
                    <li><a href="/livros/autores">Autores</a></li>
                    <li><a href="/livros/editoras">Editoras</a></li>
                </ul>                
    
            </section>
    
    
        </header>



        <section>

        <footer id="rodape">

        </footer>

    </body>
</html>